[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-slugify = "*"
flask-wtf = "*"
wtforms-alchemy = "*"
wtforms = "*"
flask-admin = "*"

[dev-packages]

[requires]
python_version = "3.6"
