{% extends 'default.html' %}

{% block title %}
index du catalogue
{% endblock %}


{% block content %}
<p>Une application basique avec <a href="https://flask.palletsprojects.com/" target="_blank">Flask</a> La bibliothèque contient au total : </p>
<ul>
    <li><strong>livres</strong> : {{ books }}</li>
    <li><strong>auteurs</strong> : {{ authors }}</li>
    <li><strong>categorie</strong> : {{ categories }}</li>
</ul>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Suscipit adipiscing bibendum est ultricies integer quis auctor. Senectus et netus et malesuada fames ac. Viverra justo nec ultrices dui sapien eget mi. Interdum varius sit amet mattis vulputate enim. Scelerisque purus semper eget duis at tellus at. Tempor commodo ullamcorper a lacus vestibulum sed arcu non. Adipiscing tristique risus nec feugiat in fermentum. Bibendum neque egestas congue quisque egestas diam in arcu cursus. Mauris vitae ultricies leo integer malesuada nunc vel risus. Penatibus et magnis dis parturient montes nascetur ridiculus mus mauris. Et netus et malesuada fames ac turpis. Ullamcorper eget nulla facilisi etiam. Maecenas pharetra convallis posuere morbi leo. Gravida arcu ac tortor dignissim. Ante in nibh mauris cursus.
</p><p>
Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Donec enim diam vulputate ut pharetra. Nisl nisi scelerisque eu ultrices. Vel eros donec ac odio tempor orci. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Purus sit amet volutpat consequat mauris nunc congue nisi vitae. Quisque sagittis purus sit amet volutpat consequat mauris. Neque sodales ut etiam sit amet nisl purus in. Amet consectetur adipiscing elit ut aliquam purus sit amet luctus. Eu lobortis elementum nibh tellus molestie nunc non. Sapien nec sagittis aliquam malesuada. A condimentum vitae sapien pellentesque. Porttitor leo a diam sollicitudin tempor id.
</p><p>
Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla. In arcu cursus euismod quis viverra nibh. Ornare lectus sit amet est placerat in egestas erat. Viverra tellus in hac habitasse platea dictumst. Ut placerat orci nulla pellentesque dignissim enim sit. Ut lectus arcu bibendum at varius vel. Rhoncus mattis rhoncus urna neque viverra justo nec ultrices. Elementum facilisis leo vel fringilla est ullamcorper eget nulla facilisi. Tellus mauris a diam maecenas.
</p><p>
Non nisi est sit amet facilisis magna etiam tempor orci. Proin gravida hendrerit lectus a. Volutpat lacus laoreet non curabitur gravida. Sed viverra tellus in hac habitasse platea dictumst vestibulum. Feugiat in fermentum posuere urna nec tincidunt praesent semper. Suspendisse interdum consectetur libero id. Elementum tempus egestas sed sed risus pretium quam. Enim sit amet venenatis urna cursus eget nunc scelerisque. Sed faucibus turpis in eu mi bibendum neque. Eu sem integer vitae justo eget magna fermentum. Lacus laoreet non curabitur gravida. Id venenatis a condimentum vitae sapien pellentesque habitant morbi. Quisque sagittis purus sit amet volutpat consequat mauris nunc. Facilisis leo vel fringilla est ullamcorper eget nulla.
</p><p>
Etiam non quam lacus suspendisse faucibus. Fermentum leo vel orci porta. Nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi. Egestas fringilla phasellus faucibus scelerisque. Tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum. Diam sit amet nisl suscipit adipiscing bibendum est ultricies integer. In arcu cursus euismod quis viverra. Mi bibendum neque egestas congue. Sed odio morbi quis commodo odio aenean sed adipiscing. Scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis.</p>
{% endblock %}
